/* Global ====================================================================*/

html {
  height: 100%
}

body {
  height: 100%;
  color: $colorForeground;
  background-color: $colorBackground;
  font: 16px/21px sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body.fixed{
  position: fixed;
}

img {
  max-width: 100%;
}

// Typography

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Playfair Display', serif;
  font-weight: $fontBold;
  line-height: $lineHeight;
  display: block;
  margin-bottom: 0px;
  color: $font-color;
}
h1, .h1 { font-size: 2.625rem; }
h2, .h2 { font-size: 2rem; }
h3, .h3 { font-size: 1.5625rem; }
h4, .h4 { font-size: 1.25rem; }
h5, .h5 { font-size: 1rem; }
h6, .h6 { font-size: 0.875rem; }

p {
  color: $font-color;
  @include lato-reg(0.875rem);
  line-height: $lineHeight;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
  @include transition();
  &:hover, &:focus {
    color: $accent-color;
  }
}

hr {
  border: 0;
  border-top: $borderWeight $borderStyle $colorAlternate;
  margin: $gutter/1.5 0;
}

strong, b {
  font-weight: $fontBold;
}

small {
  font-size: 0.8rem;
}

i {
  font-style: italic;
}

.rte {
  // TBA
  ul, ol {
    list-style: initial;
    list-style-position: inside;
    margin-bottom: $gutter/2;
    li {
      list-style: inherit;
      list-style-position: inherit;
      margin-bottom: $gutter/2;
    }
  }
  ol {
    list-style-type: decimal;
  }
}

.breadcrumb {
  margin-bottom: $gutter;
}

// Forms
form {
  max-width: 100%;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="search"],
textarea {
  max-width: 100%;
  line-height: ($gutter - $borderWeight*2);
  padding: 0 $gutter/2;
  font-size: 1.125rem;
  border: thin solid $border-color;
  border-radius: $borderRadius;
  -webkit-appearance: none;
  @media only screen and (max-width: $s) {
    width: 100%;
    clear: both;
    margin-bottom: $gutter/3;
  }
  &.error {
    border-color: $colorHighlight;
  }
}
textarea {
  height: initial;
  line-height: $lineHeight;
  padding: $gutter/2;
  font-family: inherit; // for Firefox
}
label {
  line-height: inherit;
}
button, .button,
input[type="button"],
input[type="submit"],
input[type="reset"],
select {
  max-width: 100%;
  height: $gutter;
  line-height: ($gutter - $borderWeight*2);
  padding: 0 $gutter/1.5;
  font-size: 1.125rem;
  color: lighten($colorBrand, 25%);
  background-color: $colorBrand;
  border: $borderWeight $borderStyle $colorBrand;
  border-radius: $borderRadius;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include transition();
  option {
    // for Firefox
    background-color: $colorBackground;
    border: 0;
    display: block;
    color: $colorForeground;
  }
  &:hover {
    background-color: darken($colorBrand, 5%);
    border-color: darken($colorBrand, 5%);
    color: lighten($colorBrand, 35%);
    cursor: pointer;
  }
  &.alternate {
    color: lighten($colorAlternate, 25%);
    background-color: $colorAlternate;
    border: $borderWeight $borderStyle $colorAlternate;
    &:hover {
      background-color: darken($colorAlternate, 5%);
      border-color: darken($colorAlternate, 5%);
      color: lighten($colorAlternate, 35%);
    }
  }
  &:disabled, &.disabled {
    cursor: default;
    background-color: lighten($colorAlternate, 30%);
    border-color: lighten($colorAlternate, 30%);
    color: lighten($colorAlternate, 0%);
    &:hover {
      @extend .disabled
    }
  }
  @include s() {
    width: 100%;
    clear: both;
    margin-bottom: $gutter/3;
  }
}
button, .btn, a.btn{
  @include roboto-reg(0.75rem);
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  background-color: $accent-color;
  text-decoration: none;
  color: $font-color;
  min-width: 200px;
  height: 50px;
  @include flex();
  align-items: center;
  justify-content: center;
  max-width: 250px;
  &:hover{
    color: white;
  }
}

button::-moz-focus-inner {
  border: 0;
}

.select-wrapper {
  display: inline-block;
  position: relative;
  @media only screen and (max-width: $s) {
    width: 100%;
    clear: both;
    margin-bottom: $gutter/3;
  }
}
.errors{
  padding: $gutter/3.5;
  margin: $gutter/2 auto;
  color: lighten($colorHighlight, 50%);
  background-color: transparent;
  li {
    margin-bottom: $gutter/3;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: lighten($colorHighlight, 50%);
  }
}

.note{
  padding: $gutter/3.5;
  margin: $gutter/2 auto;
  color: lighten($accent-color, 50%);
  background-color: transparent;
  li {
    margin-bottom: $gutter/3;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: lighten($accent-color, 50%);
  } 
}

.shopify-challenge__button.btn{
  height: 50px;
}

.shopify-challenge__error{
  background-color: transparent;
  color: $bad-status;
}

.form-success{
  color: $accent-color;
}