.collection-page .currentTags{
  color: #a1a4a6;
  display: inline-block;
  margin-right: 15px;
  font-size: .875rem;
}
.collection-page .reset-filter{
  display: inline-block;
  @include lato-bold(.875rem);
}
.filter-menu-container{
  .mobile-filter-trigger{
    display: none;
  }
  .filter-options{
    @include flex();
    position: relative;
  }
  .filter-options li:first-child .filter-cat-heading{
    border-left: thin solid $border-color;
  }
  .filter-options li.active{
    .filter-cat-heading{
      background-color: $accent-color;
      color: $bg-main;
    }
    .filter-values{
      @include flex();
      @include prefix(justify-content, center);
      position: absolute;
      bottom: -48px;
      left: 0;
      width: 100%;
      display: none;
    }
  }
  .filter-values{
    display: none;
  }
  .filter-cat-heading{
    min-width: 120px;
    height: 50px;
    @include lato-bold(.75rem);
    background-color: transparent;
    border-color: $border-color;
    border-right: thin solid $border-color;
    border-left: none;
    &:hover{
      color: $accent-color;
    }
  }
  .filter-values.active{
    @include flex();
    @include prefix(flex-flow, row wrap);
    @include prefix(justify-content, center);
  }
}
.filter-menu-container-desktop{
  width: 100%;
  .filter-options{
    @include prefix(justify-content, center);
  }
  .filter-value{
    margin-bottom: 10px;
  }
}
.filter-menu-container .filter-value {
  @include flex();
  margin-right: 25px;
  .wrapper .checkbox{
    margin-right: 15px;
    width: 25px;
    height: 25px;
    position: relative;
  }
  .wrapper .checkbox:before {
    display: block;
    content:'';
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: transparent;
    border:thin solid #ddd;
  }
  .wrapper .checkbox:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 35%;
    left: 35%;
    @include prefix(transform, translate(-50%, -50%));
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    @include prefix(transform,rotate(-45deg));
    &:hover{
      cursor: pointer;
    }
  }
  .wrapper input{
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 2;
    opacity: 0;
    &:hover{
      cursor: pointer;
    }
  }
  /**
   * Create the checkbox state for the tick
   */
  .wrapper input[type=checkbox]:checked + .checkbox:after {
    opacity: 1;
    border-color: white;
  }
  .wrapper input[type=checkbox]:checked + .checkbox:before {
    background-color: black;
  }

  label{
    @include lato-reg(.75rem);
    text-transform: uppercase;
  }
}

