/* Product ===================================================================*/

.template-product {
  .main-content{
    max-width: 960px;
  }
  .images-column #ProductPhoto img{
    width: 100%;
  }
  .text-column h1{
    font-size: 2rem;
    margin-bottom: 15px;
  }
  .text-column .style-number{
    @include heading-dash();
    @include lato-reg(0.875rem);
    &:after{
      left: 0;
      margin-top: 12px;
      transform: none;
      height: 1px;
      background: #979797;
    }
  }
  .text-column #ProductPrice{
    margin-top: 18px;
    margin-bottom: 32px;
    @include lato-reg(1.5rem);
  }
  .text-column label{
    display: block;
    margin-bottom: 8px;
    font-size: .875rem;
  }
  .text-column .single-option-selector{
    padding-left: 19px;
    background-color: $bg-main;
    border: thin solid $border-color;
    color: $font-color;
    height: 50px;
    max-width: 280px;
    margin-right: auto;
    font-size: .875rem;
  }
}
