.button.share {
  margin: 0 auto;
  padding: 0 $gutter/4;
  height: $gutter/1.5;
  line-height: ($gutter/1.5 - $borderWeight*2);
  font-size: .85rem;
  &.facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: lighten(#3b5998, 40%);
    &:hover {
      background-color: darken(#3b5998, 10%);
      border-color: darken(#3b5998, 10%)
    }
  }
  &.twitter {
    background-color: #00aced;
    border-color: #00aced;
    color: lighten(#00aced, 40%);
    &:hover {
      background-color: darken(#00aced, 10%);
      border-color: darken(#00aced, 10%);
    }
  }
  &.pinterest {
    background-color: #cb2027;
    border-color: #cb2027;
    color: lighten(#cb2027, 40%);
    &:hover {
      background-color: darken(#cb2027, 10%);
      border-color: darken(#cb2027, 10%);
    }
  }
  &.fancy {
    background-color: #4999dc;
    border-color: #4999dc;
    color: lighten(#4999dc, 40%);
    &:hover {
      background-color: darken(#4999dc, 10%);
      border-color: darken(#4999dc, 10%);
    }
  }
  &.google {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: lighten(#dd4b39, 40%);
    &:hover {
      background-color: darken(#dd4b39, 10%);
      border-color: darken(#dd4b39, 10%);
    }
  }
}
.social-sharing .button.share{
  width: 50px;
  height: 25px;
  @include flex();
  align-items: center;
  justify-content: center;
}
.social-sharing{
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}
.share-container{
  width: 100%;
  text-align: center;
  h4{
    text-transform: uppercase;
    @include lato-bold(.875rem);
  }
  button{
    margin: 0 auto;
    min-width: initial;
    width: auto;
    border: none;
    background-color: transparent;
    height: 25px;
    font-size: 1.5rem;
    svg{
      height: 25px;
      width: 25px;
      fill: $font-color;
    }
    &:hover{
      svg{fill: $accent-color;}
      color: $accent-color;
    }
  }
  &:hover, &:focus, &:active{
    .social-sharing{
      max-height: initial;
      opacity: 1;
    }
  }
}