.cart-page{
  .container.l{
    width: 940px;
  }
  h1, h2{
    margin-top: 50px;
    @include s(){
      margin-top: 50px;
    }
    @include heading-dash();
    text-align: center;
    font-size: 2rem;
    &:after{
      margin-top: 23px;
      margin-bottom: 46px;
    }
  }
  h1{
    margin-top: 50px;
  }
  p.h4{
    text-align: center;
  }
  #CartHeader{
    text-transform: uppercase;
    font-size: .875rem;
    margin-bottom: 30px;
  }
  .item.row{
    margin-bottom: 35px;
  }
  img{
    display: none;
  }
  .image{
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    background-position: 50% 6%;
    @include s(){
      width: auto;
      height: auto;
      padding-top: 100%;
    }
  }
  .product_title, .variant_title{
    @include lato-reg(.875rem);
  }
  .quantity-adjust{
    @include flex();
    align-items: center;
    justify-content: center;
  }
  .quantity{
    border: 1px solid $border-color;
    height: 34px;
    width: 50px;
    @include flex();
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 0px 14px;
  }
  .unit-price, .units-price{
    height: 34px;
    @include lato-reg(.875rem);
    @include flex();
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .units-price{
    p{
      width: 100%;
    }
    a{
      display: block;
      margin-top: 10px;
    }
    justify-content: flex-end;
  }
  .subtotal-row{
    border-top: 1px solid $border-color;
    padding-top: 20px;
  }
  .subtotal-column{
    @include flex();
    justify-content: flex-end;
  }
  .subtotal-container{
    @include flex();
    justify-content: space-between;
    align-items: center;
    width: 250px;
    max-width: 100%;
    @include s(){
      width: 100%;
    }
    .cart-total-heading{
      text-transform: uppercase;
      font-size: .875rem;
    }
    #SubTotal{
      @include lato-bold(.875rem);
    }
  }
  .buttons{
    @include flex();
    max-width: 452px;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 77px;
    justify-content: space-between;
    button[type="submit"], .continue-btn{
      width: 100%;
      max-width: initial;
      margin-top: 20px;
    }
  }
  button[type="submit"], .continue-btn{
    @include lato-bold(.875rem);
  }
  .continue-btn{
    margin-right: 18px;
    background-color: $border-color;
    border-color: $border-color;
    color: $font-color-light;
    @include s(){
      margin-right: 0px;
    }
  }
  #shippingNotice{
    @include lato-bold-italic(1rem);
  }
  .mobile-wrap{
    padding: 0px;
  }
  .recommended-container{
    width: 1300px;
    margin-top: 70px; 
    h3{
      text-transform: uppercase;
      @include lato-bold(1.375rem);
      @include heading-dash();
      &:after{
        margin-bottom: 70px;
      }
    }
  }
  @include s(){
    .product_title, .variant_title, p{
      font-size: 1rem;
    }
    .subtotal-container{
      .cart-total-heading, #SubTotal{
        font-size: 1rem;
      }
    }
    .product_title{
      margin-bottom: 0px;
    }
    .variant_title{
      display: block;
      margin-bottom: 20px;
    }
    .s-show{
      width: 50%;
      @include flex();
      justify-content: flex-end;
    }
    .buttons{
      max-width: 100%;
      flex-flow: row wrap;
    }
    .v-top.center{
      text-align: left;
    }
    .quantity-adjust{
      @include inline-flex();
    }
    #shippingNotice{
      margin-bottom: 20px;
    }
  }
}