$cart-width: 335px;
#PopupCart{
  background-color: transparent;
}
#PopupCart .popup-content{
  position: fixed;
  @include prefix(transform, translateY(-50%));
  right: -$cart-width;
  width: $cart-width;
  background-color: $bg-main;
  box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.125283);
  bottom: 0;
  z-index: 6;
  padding: 16px 0px;
  height: 100%;
  top: 50% !important;
  transition: right .3s;
}

#PopupCart.visible{
  .popup-content{
    right: 0;
  }
}

.popup .popup-close{
  top: 16px;
  right: 25px;
  svg{
    height: 15px;
    width: 15px;
  }
}

.popup .h4{
  @include lato-reg(.875rem);
  text-transform: uppercase;
  margin-bottom: 25px;
}

#PopupCart{
  .item{
    @include flex();
    margin-bottom: 10px;
    @include prefix(justify-content, space-between);
  }
  .image-container img{
    max-width: 50px;
  }
  .description-container{
    max-width: 150px;
    margin: 0 auto;
    .product-link{
      display: inline-block;
      margin-bottom: 8px;
    }
    .title, .variant{@include lato-bold(1rem);}
    .quantity-adjust{
      @include flex();
      @include prefix(align-items, center);
      a{color: $border-color;}
    }
    .quantity{
      width: 34px;
      height: 25px;
      @include flex();
      @include prefix(align-items, center);
      @include prefix(justify-content, center);
      border: thin solid $border-color;
      margin: 0px 10px;
    }
  }
  .price-container p{
    @include lato-bold(1rem);
  }
  .total-price{
    @include flex();
    @include prefix(justify-content, space-between);
    @include prefix(align-items, center);
    div:first-child{
      @include lato-reg(.875rem);
    }
    div:last-child{
      @include lato-bold(1.25rem);
    }
  }
  .buttons{
    margin-top: 18px;
    @include flex();
    @include prefix(justify-content, space-between);
  }
  .btn{
    height: 30px;
    color: $font-color-light;
    width: 120px;
    min-width: initial;
    @include lato-bold(.75rem);
    text-align: center;
  }
  .btn-continue{
    background-color: $border-color;
  }
  .contain, .subtotal-container{
    padding: 0px 20px;
  }

  .empty-cart-content{
    .center{
      margin-top: 30px;
    }
  }
  #shippingNotice{
    margin-top: 20px;
    @include lato-reg-italic(.875rem);
  }
}