<!-- /templates/page.liquid -->
<div class="container shipping-returns-page">

  <h1>{{ page.title }}</h1>
  <div class="row">
    <div class="column l3 m3 s12 navigation">
      {{pages['returns-exchanges-nav'].content}}
    </div>
    <div class="column l9 m9 s12 main-content">
      <div class="mobilenav">
        <div class="selected">Ordering & Shipping</div>
        {{pages['returns-exchanges-nav'].content}}
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var mobilenav = $('.shipping-returns-page .mobilenav');
    var selectedOption = $('.shipping-returns-page .mobilenav .selected');

    $('.shipping-returns-page .mobilenav .selected').click(function(){
      mobilenav.addClass('active');
    });
    $('.shipping-returns-page .mobilenav a').click(function(){
      mobilenav.removeClass('active');
      selectedOption.text($(this).text());
    });

  });
</script>