<!---Size Chart -->
<div class="size-chart-wrapper"></div>
<div class="size-chart">
  <div class="content">
    <h3>{{ pages[sizechart].title }}</h3>
    <p>Our pajamas are designed to comfortably fit the below measurements</p>
    <div class="unit-controls">
      <button type="button" data-unit="metric" class="unit-control metric">CM</button>
      <button type="button" data-unit="imperial" class="unit-control imperial selected">IN</button>
    </div>
    {{ pages[sizechart].content }}
  </div>
</div>

<style>
  {% if settings.enable_promobar_section %}
    .size-chart-wrapper, .size-chart{
      top: 45px !important;
    }
  {% else %}
  .size-chart-wrapper, .size-chart{
      top: 0px !important;
    }
  {% endif %}
</style>