@charset "UTF-8";
/*==============================================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/
  Concrete v1.0
  https://elkfox.com
  https://experts.shopify.com/elkfox
  Copyright 2015 Shopify Inc. & Elkfox Co Pty Ltd
==============================================================================*/

/* Settings ==================================================================*/
@import url('settings/variables.scss.liquid');

/* Utils =====================================================================*/
@import url('utils/mixins.scss');

/* Global ====================================================================*/
@import url('global/concrete-reset.scss');
@import url('global/global.scss');
@import url('global/grid.scss');
@import url('global/forms.scss');

/* Modules ===================================================================*/
@import url('modules/header.scss');
@import url('modules/navigation.scss');
@import url('modules/footer.scss');
@import url('modules/cart.scss');
@import url('modules/drawer.scss');
@import url('modules/popups.scss');
@import url('modules/social.scss');
@import url('modules/icon.scss');
@import url('modules/product.scss');
@import url('modules/pagination.scss');
/* Homepage ==================================== */
@import url('homepage/promobar.scss');
@import url('homepage/header.scss');
@import url('homepage/nav.scss');
@import url('homepage/mobile-nav.scss');
@import url('homepage/hero.scss');
@import url('homepage/text-image.scss');
@import url('homepage/image-banner.scss');
@import url('homepage/collection.scss');
@import url('homepage/media.scss');
@import url('homepage/newsletter.scss');
@import url('homepage/footer.scss');
/* Collection ========= */
@import url('collection/collection-product.scss');
@import url('collection/collection-filter-desktop.scss');
@import url('collection/collection-filter-mobile.scss');
@import url('collection/collection-page.scss');
/* Product Page */
@import url('product/product.scss');
@import url('product/size-chart.scss');
/* Cart */
@import url('cart/cart-page.scss');
@import url('cart/sidecart.scss');
/* Page */
@import url('page/sizechart.scss');
@import url('page/faq.scss');
@import url('page/wholesale.scss');
@import url('page/contact.scss');
@import url('page/locator.scss');
/* Blog */
@import url('blog/blog.scss');
@import url('blog/article.scss');
/* Account */
@import url('account/login-register.scss');
/* Helpers ===================================================================*/
@import url('global/helpers.scss');
/* Vendor ============= */
@import url('vendor/slick.scss');
@import url('vendor/aos.css');
/* =============================================================================
   Shopify core helpers
============================================================================= */

// Shopify capture challenge
.shopify-challenge__container {
  text-align: center;
}
