<!-- /templates/customers/login.liquid -->

<div class="login-register-page container m">
  <div class="row">
    <div class="column l6 m6 s12">
      {% include 'form-login' %}
    </div>
    <div class="column l6 m6 s12">
      {% include 'form-register' %}
    </div>
  </div>
  {% if shop.checkout.guest_login %}
    <hr>
    <h2>{{ 'form.guest_title' | t }}</h2>
    {% form 'guest_login' %}
      <input type="submit" value="{{ 'form.continue' | t }}">
    {% endform %}
  {% endif %}

</div>
