.theme-header{
  padding: 42px 0px 22px 0px;
  @include s(){
    padding: 20px;
  }
  .logo-image img{
    @include s(){
      max-height: 40px;
    }
    @include m(){
      max-height: 54px;
    }
    width: auto;
  }
}

.theme-header .icons-row{
  @include flex();
  align-items: center;
  position: relative;
  margin-bottom: 48px;
  img{
    vertical-align: middle;
  }
}

.theme-header .icons-row{
  #MobileNavToggle{
    display: none;
  }
  .desktop-search-icon{
    display: inline-block;
    margin-left: 42px;
    use{
      transition: fill .3s;
    }
    &:hover{
      cursor: pointer;
      use{
        fill: $accent-color;
      }
    }
  }
  @include max-query($m){
    .desktop-search-icon{
      display: none;
    }
    #MobileNavToggle{
      display: inline-block;
    }
  }
}

.theme-header .icons-row .search-container{
  width: 100%;
  position: absolute;
  bottom: -94px;
  left: 0;
  height: 94px;
  background: $bg-main;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;
  @include max-query($m){
    display: none;
  }
}

.theme-header .icons-row .search-container.active{
  opacity: 1;
  z-index: 2;
}

.theme-header .search-container .search-content{
  max-width: 930px;
  margin: 0 auto;
  text-align: center;
  p{
    text-transform: uppercase;
    @include lato-reg(.75rem);
    margin-bottom: 30px;
    color: #D8D9DB;
  }
  form, input{
    width: 90%;
    position: relative;
  }
  input{
    border: none;
    border-bottom: 1px solid #D8D9DB;
    @include lato-reg(2rem);
    padding-bottom: 8px;
    padding-left: 0px;    
  }
  button{
    background: transparent;
    width: auto;
    border: none;
    position: absolute;
    right : 0;
    top: 50%;
    min-width: initial;
    @include prefix(transform, translateY(-50%));
  }
}

.theme-header .logo{
  @include inline-flex();
  a, span{@include inline-flex();}
}

.theme-header .user-column{
  @include flex();
  align-items: center;
  justify-content: flex-end;
  #CartLink{
    position: relative;
    display: inline-block;
    margin-left: 55px;
    margin-right: 42px;
    &:hover{
      color: $font-color;
    }
  }
  span{
   display: none;
   position: absolute;
   background: $accent-color;
   width: 24px;
   height: 24px;
   top: -6px;
   right: -14px;
   border-radius: 24px;
   @include flex();
   align-items: center;
   justify-content: center; 
   @include lato-bold(0.875rem);
  }
}