.theme-header{
  position: relative;
  opacity: 1;
  transition: opacity .3s, top .5s;
  padding: 42px 0px 22px 0px;
  @include max-query($m){
    padding: 20px 10px;
  }
  .logo-image img{
    @include s(){
      max-height: 40px;
    }
    @include m(){
      max-height: 54px;
    }
    width: auto;
  }
}

.theme-header .icons-row{
  @include flex();
  align-items: center;
  position: relative;
  margin-bottom: 48px;
  img{
    vertical-align: middle;
  }
  @include max-query($m){
    margin-bottom: 0px;
  }
}

.theme-header .icons-row{
  #MobileNavToggle{
    display: none;
  }
  .desktop-search-icon{
    display: inline-block;
    margin-left: 42px;
    use{
      transition: fill .3s;
    }
    &:hover{
      cursor: pointer;
      use{
        fill: $accent-color;
      }
    }
  }
  @include max-query($m){
    .desktop-search-icon{
      display: none;
    }
    #MobileNavToggle{
      display: inline-block;
    }
  }
}

.theme-header .icons-row .search-container{
  width: 100%;
  position: absolute;
  bottom: -94px;
  left: 0;
  height: 94px;
  background: $bg-main;
  text-align: center;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;
  @include max-query($m){
    display: none;
  }
}

.theme-header .icons-row .search-container.active{
  opacity: 1;
  z-index: 2;
}

.theme-header .search-container .search-content{
  max-width: 930px;
  margin: 0 auto;
  text-align: center;
  p{
    text-transform: uppercase;
    @include lato-reg(.75rem);
    margin-bottom: 30px;
    color: #D8D9DB;
  }
  form, input{
    width: 90%;
    position: relative;
  }
  input{
    border: none;
    border-bottom: 1px solid #D8D9DB;
    @include lato-reg(2rem);
    padding-bottom: 8px;
    padding-left: 0px;    
  }
  button{
    background: transparent;
    width: auto;
    border: none;
    position: absolute;
    right : 0;
    top: 50%;
    min-width: initial;
    @include prefix(transform, translateY(-50%));
  }
}

.theme-header .logo{
  @include inline-flex();
  a, span{@include inline-flex();}
}

.theme-header .user-column{
  @include flex();
  align-items: center;
  justify-content: flex-end;
  #CartLink{
    position: relative;
    display: inline-block;
    margin-left: 55px;
    margin-right: 42px;
    &:hover{
      color: $font-color;
    }
  }
  @include m(){
    #CartLink{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  @include s(){
    #CartLink{margin: 0px;}
    justify-content: space-between;
  }
  span{
   display: none;
   position: absolute;
   background: $accent-color;
   width: 24px;
   height: 24px;
   top: -6px;
   right: -14px;
   border-radius: 24px;
   @include flex();
   align-items: center;
   justify-content: center; 
   @include lato-bold(0.875rem);
  }
}

.theme-header .theme-nav-main-sticky{
  display: none;
}
.theme-header.hide{
  opacity: 0;
  top: -100px;
}
.theme-header.show{
  opacity: 1;
  top: 0;
}
.theme-header.fixed{
  position: fixed;
  z-index: 3;
  width: 100%;
  background: $bg-main;
  @include min-query(850px){
    padding: 25px 0px;
    .theme-nav-main-container{
      display: none;
    }
    .theme-nav-main-sticky{
      display: block;
    }
    .logo-column{
      @include flex();
      align-items: center;
      nav{
        width: 100%;
      }
    }
    .logo-image{
      display: none;
    }
    .icons-row{
      margin: 0px;
    }
    .search-column{
      width: 5%;
      .desktop-search-icon{
        margin-left: 0px;
      }
    }
    .logo-column{
      width: 85%;
    }
    .user-column{
      position: absolute;
      right: 0;
      top: 50%;
      @include prefix(transform, translateY(-50%));
    }
  }
  .search-container.active{
    padding: 30px 0px;
    bottom: -118px;
  }
  @include min-query(1280px){
    .theme-nav-main .dropdown .dropdown_menu_container{
      top: 40px;
    }
  }
@include max-query(1200px){
  .nav-link{
    font-size: .9rem;
  }
}
  @include max-query(850px){
    .theme-nav-main-container, .theme-nav-main-sticky{
      display: none;
    }
  }
}