.homepage-hero{
  position: relative;
  img{width: 100%;}
  .text-block{
    position: absolute;
    top: 94px;
    left: 87px;
  }
}
.homepage-hero .slide{
  position: relative;
}

.homepage-hero .image{
  background-size: cover;
  padding-top: 49%;
  background-position: 50% 50%;
}
.homepage-hero .main-text{
  font-size: 3rem;
  line-height: 3rem;
  position: relative;
  &:after{
    content:"";
    position: relative;
    margin-top: 28px;
    display: block;
    width: 20%;
    height: 1px;
    background: white;
  }
}

.homepage-hero .sub-text{
  margin-top: 21px;
  margin-bottom: 24px;
  font-size: 1.875rem;
  text-transform: uppercase;
}

.homepage-hero .btn{
  max-width: 200px;
  height: 50px;
}

@include max-query($l){//1280px
  .homepage-hero .text-block{
    top: 74px;
    left: 67px;
  }
}

@include max-query($m){//600px
  .homepage-hero .text-block{
    top: 44px;
    left: 37px;
  }
  .homepage-hero .sub-text{
    font-size: 1.25rem;
  }
  .homepage-hero .main-text{
    font-size: 2.5rem;
  }
}

@include max-query($s){//850px
  .homepage-hero .text-block{
    top: 21px;
    left: 37px;
  }
}

