@include max-query(850px){
  .shifter, .theme-header.shifted{
    @include prefix(transform, translateX(0%));
    transition: transform .3s;
  }
  .shifter.shifted, .theme-header.shifted{
    @include prefix(transform, translateX(280px));
   
    @include min-query(500px){
      @include prefix(transform, translateX(450px));
    }
  }
  .theme-header.shifted.show.fixed{
    @media screen and (-webkit-min-device-pixel-ratio:0)
      and (min-resolution:.001dpcm) {
      @include prefix(transform, translateX(45%));
    } 
  }  
}


.theme-nav-toggled.from-left, .theme-nav-toggled.from-right{
  width: 280px;
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
    width: 45%;
  }
  transition: left .3s;
  @include min-query(500px){
    width: 450px;
  }
}

.theme-nav-toggled.active{
  left: 280px;
  @media screen and (-webkit-min-device-pixel-ratio:0)
    and (min-resolution:.001dpcm) {
    left: 45%;
  }
  box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.125283);
  @include min-query(500px){
    left: 450px;
  }
}

.theme-nav-toggled{
  overflow: scroll;
  padding: 0px;
  background: $bg-main;
  border-right: thin solid $border-color;
  a, span{
    color: $font-color;
    text-transform: uppercase;
    @include lato-semibold(1rem);
  };
}

.theme-nav-toggled{
  .search-container{
    background-color: $mobile-alternate-bg;
    padding: 13px 20px 13px 10px;
    border-bottom: thin solid $border-color;
  }
  .search-container form[action="/search"]{
    width: 100%;
    position: relative;
    input{
      margin-bottom: 0px;
      height: 30px;
      border-radius: 30px;
      width: 100%;
      background-color: $bg-main;
      @include lato-reg(.875rem);
      color: $font-color;
      @include placeholder{
        color: $font-color;
      }
    }
    button{
      display: block;
      background-color: transparent;
      border: none;
      position: absolute;
      top: 50%;
      width: auto;
      @include prefix(transform, translateY(-50%));
      min-width: initial;
      padding: 0px;
      height: auto;
      right: 10px;
      svg{
        height: 20px;
        width: 20px;
      }
    }
  }
  .mobile-mainnav, .mobile-subnav{
    line-height: 2;
  }
  .dropdown .dropdown-heading, .non_dropdown a{
    display: block;
    border-bottom: thin solid $border-color;
    padding: 7px 10px;
  }
  .dropdown-heading{
    position: relative;
    &:after{
      content:'\f105';
      font-family: FontAwesome;
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      @include prefix(transform, translateY(-50%));
    }
  }
  .dropdown-heading.active{
    background: $mobile-alternate-bg;
    &:after{
      content:'\f104';
    }
  }
  .dropdown_menu li{
    border-bottom: thin solid $border-color;
    a{
      padding: 7px 10px;
      display: block;
    }
  }
  .mobile-subnav{
    background: $mobile-alternate-bg;
    .dropdown_menu{
      background-color: $bg-main;
    }
  }
}