// Main Nav
.theme-nav-main {
  text-align: center;
  .nav-link {
    @include lato-semibold(.875rem);
    margin-right: $gutter/3;
    padding-bottom: 40px;
    text-transform: uppercase;
  }
  .dropdown {
    position: relative;
    .nav-link{
      padding-bottom: 0px;
    }
    .dropdown_menu_container {
      display: block;
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      transition: height .3s;
      height: 0px;
      overflow: hidden;
      @include min-query(500px){
        top: 190px;
      }
      @include min-query(1000px){
        top: 180px;
      }
      @include min-query(1280px){
        top: 225px;
      }

    }
    &:hover {
      .dropdown_menu_container {
        height: 350px;
      }
    }
  }
}

.theme-nav-main > ul{
  width: 100%;
  margin: 0 auto;
  @include flex();
  justify-content: space-between;
  @include m(){
    width: 98%;
  }
}

.theme-nav-main .parent-link{
  @include lato-semibold(.875rem);
  text-transform: uppercase;
}

.theme-nav-main .dropdown{
  position: static;
}

.theme-nav-main .dropdown .container{
  background-color: rgba($bg-main, .95);
  padding-bottom: 20px;
  @include m(){
    padding-top: 20px;
    padding-bottom: 10px;
  }
}
.theme-nav-main .shop-by{
  padding-top: 50px;
  @include lato-semibold(0.875rem);
  text-align: left;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 31px;
}
.theme-nav-main .slider-container{
  @include flex();
  align-items: center;
  justify-content: space-around;
  position: relative;
  .slick-slide {
    background-color: transparent;
    margin: 0 20px;
    img{
      vertical-align: middle;
    }
  }
  .slick-list {
    margin: 0 -20px;
  }
  .arrow{
    top: 50%;
    position: absolute;
    @include prefix(transform, translateY(-50%));
    &:hover{
      cursor: pointer;
    }
  }
  .prev{
    left: 20px;
  }
  .next{
    right: 20px
  }

}
.theme-nav-main .dropdown_menu{
  width: 80%;
  margin: 0 auto;
}

