.homepage-text-image{
  @include flex();
  @include prefix(flex-flow, row wrap);
  .text-container, .image-container{
    width: 50%;
    @include max-query($m){
      width: 100%;
    }
  }
}
.homepage-text-image .image-container{
  .main-image{
    vertical-align: middle;
      width: 100%;
  }
}
.homepage-text-image .text-container{
  background-color: $accent-color-2;
  @include flex();
  @include prefix(align-items, center);
  @include prefix(justify-content, center);
  @include max-query($m){
    padding: 130px 15px;
  }
}

.homepage-text-image .text-container .content{
  text-align: center;
  img{
    margin-bottom: 15px;
  }
  h2{
    font-size: 2.625rem;
    line-height: 48px;
    @include heading-dash();
    &:after{
      margin-top: 31px;
      margin-bottom: 23px;
    }
  }
  p{
    @include lato-reg(1.25rem);
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  a.btn{
    margin: 0 auto;
  }
}