<div class="container">
  <div class="row">
  <div class="column l12 m12 s12">
{% unless section.settings.heading == blank %}<h3>{{section.settings.heading}}</h3>{% endunless %}
</div>
<div class="column l12 m12 s12">
<div class="images">
{% for block in section.blocks %}
<div class="image-container">
  {% unless block.settings.url == blank %}
  <a href="{{block.settings.url}}">
  {% endunless %}
    <img src="{{block.settings.image | img_url:'master'}}" alt="{{block.settings.image.alt}}">
  {% unless block.settings.url == blank %}
  </a>
  {% endunless %}
  </div>
{% endfor %}
</div></div>
</div>
</div>
{% schema %}
  {
    "name": "Media",
    "class": "homepage-media",
    "settings": [
      {
        "type": "header",
        "content": "Text Content"
      },
      {
        "id":"heading",
        "type":"text",
        "label":"Heading"
      }
    ],
    "blocks":[
      {
        "type":"media",
        "name":"Media",
        "settings":[
          {
            "type":"image_picker",
            "id":"image",
            "label":"Media Image"
          },
          {
            "type":"url",
            "label":"Link",
            "id":"url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Media",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}