.product-page{
  .size-chart-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255, .86);
    opacity: 0;
    z-index: -1;
  }

  .size-chart-wrapper.active{
    opacity: 1;
    z-index: 5;
  }

  .size-chart{
    width: 420px;
    z-index: -1;
    opacity: 0;
    background: $bg-main;
    position: fixed;
    right: -420px;
    top: 0;
    bottom: 0;
    box-shadow: 0px 2px 34px rgba(0, 0, 0, 0.125283);
    transition: right .3s;
  }

  .size-chart.active{
    z-index: 6;
    opacity: 1;
    right: 0px;
  }
}
.size-chart{
  overflow: scroll;
}
.size-chart .content{
  padding: 25px 30px;
}
.size-chart .content h3{
  @include lato-bold(1.125rem);
  margin-bottom: 8px;
}
.size-chart .content p{
  margin-bottom: 25px;
  @include lato-reg(.875rem);
  color: #90939A;
}
.size-chart .content .unit-controls{
  @include flex();
  margin-bottom: 35px;
  button{
    min-width: initial;
    min-height: initial;
    background-color: transparent;
    border-color: $border-color;
    border-radius: 0px;
    height: 55px;
    width: 55px;
    color: $border-color;   
    &:hover{
      color: $font-color;
      border-color: $border-color;
    } 
  }
  button.selected{
    background: $font-color;
    color: $font-color-light;
    border-color: $font-color;
  }
  .metric{
    border-right: none;
  }
  .imperial{
    border-left: none;
  }
}

.size-chart table td{
  height: 50px;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}
.size-chart table td{
  border: thin solid $border-color;
  border-bottom: none;
  border-top: none;
  @include lato-reg(.875rem);
}

.size-chart table tr:nth-child(2n+1){
  background: $bg-light;
}

.size-chart table tr:first-child{
  background: $font-color;
  color: $border-color;
}

.size-chart table tr:last-child{
  border-bottom: thin solid $border-color;
}

