.page-faq{
  width: 980px;
  margin-top: 60px;
  @include s(){
    margin-top: 30px;
  }
  h1{
    font-size: 2rem;
    @include heading-dash();
    &:after{
      margin-top: 20px;
      margin-bottom: 40px;
      @include prefix(transform, none);
      left: 0;
    }
  }
  h3{
    border-top: thin solid #D8D9DB;
    padding: 13px 0px;
    text-transform: uppercase;
    transition: color .3s;
    position: relative;
    span{
      position: absolute;
      height: 20px;
      width: 20px;
      right: 10px;
      top: 50%;
      @include prefix(transform, translateY(-50%));
      border-radius: 10px;
      border: 2px solid $font-color;
      transition: border-color .3s;
      &:after{
        font-size: .5rem;
        content:'\f067';
        vertical-align: middle;
        font-family: FontAwesome;
        transition: border-color .3s;
        position: absolute;
        top: 50%;
        left: 50%;
        @include prefix(transform, translate(-50%,-50%));
        @include s(){
          font-family: 'Lato';
          font-weight: bold;
          font-size: 1rem;
          content:'+';
        }
      }
    }
    &:hover{
      cursor: pointer;
      color: $accent-color;
      span{
        border-color: $accent-color
      }
    }
    @include s(){
      padding-right: 30px;
      &:after{
        right: 10px;
      }
    }
  }
  h3.active span::after{
    content:'\f068';
    @include s(){
      content:'-';
    }
  }
  .content h3:first-of-type{
    border-top: none;
  }
  h3, p, div, a{
    @include lato-reg(.875rem);
  }
  .tab{
    overflow: hidden;
    transition: max-height .3s;
    max-height: 0;
  }
  .tab.active{
    margin-bottom: 10px;
  }
}
