.page-faq{
  width: 980px;
  margin-top: 60px;
  @include s(){
    margin-top: 30px;
  }
  h1{
    font-size: 2rem;
    @include heading-dash();
    &:after{
      margin-top: 20px;
      margin-bottom: 40px;
      @include prefix(transform, none);
      left: 0;
    }
  }
  h3{
    border-top: thin solid #D8D9DB;
    padding: 13px 0px;
    text-transform: uppercase;
    transition: color .3s;
    position: relative;
    &:after{
      font-size: .5rem;
      content:'\f067';
      font-family: FontAwesome;
      border: 1px solid black;
      display: inline-block;
      position: absolute;
      top: 50%;
      width:20px;
      height: 20px;
      border-radius: 10px;
      @include flex();
      @include prefix(align-items, center);
      @include prefix(justify-content, center);
      @include prefix(transform, translateY(-50%));
      right: 20px;
      transition: border-color .3s;
    }
    &:hover{
      cursor: pointer;
      color: $accent-color;
      &:after{
        border-color: $accent-color
      }
    }
    @include s(){
      padding-right: 30px;
      &:after{
        right: 10px;
      }
    }
  }
  h3.active::after{
    content:'\f068';
  }
  .content h3:first-of-type{
    border-top: none;
  }
  h3, p, div, a{
    @include lato-reg(.875rem);
  }
  .tab{
    overflow: hidden;
    transition: max-height .3s;
    max-height: 0;
  }
  .tab.active{
    margin-bottom: 10px;
  }
}
