.page-locator .text-image{
  @include flex();
  flex-flow: row wrap;
  .text-column, .image-column{
    width: 50%;
    @include max-query($m){
      width: 100%;
    }
  }
  .image-column{
    img{vertical-align: middle;}
  }
  .text-column{
    background-color: $accent-color-2;
    @include flex();
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    h1{
      font-size: 2.125rem;
      @include heading-dash();
      &:after{
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
    p{
      font-size: 1.25rem;
      text-transform: uppercase;
    }
  }
}
@include s(){
  .banner-container{
    padding: 0px;
  }
  .text-container{
    padding: 50px 20px;
  }
}