.shipping-returns-page{
  position: relative;
  nav{
    position: sticky;
    top: 20px;
    bottom: 20px;
  }
  h1{
    font-size: 2rem;
    @include heading-dash();
    margin-top: 70px;
    &:after{
      left: 0;
      @include prefix(transform, none);
      margin-top: 15px;
      margin-bottom: 30px;
    }
  }
  h2, h3, h4{
    @include lato-semibold(1rem);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  p, td{
    @include lato-reg(.875rem);
    margin-bottom: 15px;
  }
  a{
    color: $accent-color;
  }
  th{
    @include lato-semibold(.875rem);
    text-align: left;
  }
  table{
    margin-bottom: 15px;
  }
  tbody{
    line-height: 2.8;
  }
  a.anchor {
      position: relative;
      top: -120px;
      visibility: hidden;
  }
}